body {
  font-family: "Sawarabi Gothic", sans-serif;
}
h1 {
  text-align: center;
}

.animals,
.instruments {
  margin: 40px auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(178, 183, 183, 0.2);
}
.animals {
  width: 800px;
}
.instruments {
  width: 600px;
}
h2 {
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
}
.icons {
  width: 32px;
  height: 32px;
  align-items: baseline;
  padding: 0 0 7px 7px;
}

.animal:hover {
  opacity: 0.4;
}

.image {
  overflow: hidden;
  position: relative;
}
img {
  width: 200px;
  vertical-align: bottom;
  transition: all 0.07s;
}
.text {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  z-index: 30;
  color: white;

  background-color: rgba(11, 11, 11, 0.3);
}
.text:hover {
  opacity: 1;
}

kbd {
  border: 3px solid rgb(14, 0, 0);
  box-shadow: 3px 3px 2px black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.6rem 0.7rem;
  width: 10px;
  height: 10px;
  text-align: center;

  color: black;
  background-color: white;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.key {
  border-radius: 5px;
  font-size: 1rem;
  margin: 20px;
  transition: all 0.07s;
  width: 200px;

  text-align: center;
  color: white;
}

.playing {
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  transform: scale(1.1);
}
